.ant-form {
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 10px !important;    
    background-color: white !important;
}
button {
    margin-left: auto !important;
}
